/* &display=swap */

/* Подключаею обнуляющий стиль*/
@import "null.css";

/* Подключаем шрифты Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;0,900;1,300&display=swap');



/* Подключаю шрифты через плагин */
/* @import url(https://fonts.googleapis.com/css?family=Short+Stack:regular&family=Caveat:regular&family=Spartan:regular,700,900&display=swap); */


/* Подключаю шрифты Minako-Light-Regular и Minako-Regular которог нет на Google Fonts */
@font-face {
	font-family: "Minako-Light-Regular";
	src: url("../fonts/Minako-Light-Regular.woff2") format("woff2"), url("../fonts/Minako-Light-Regular.woff") format("woff");
	font-weight: 300;
	font-style:normal;
	font-display:swap;
}

@font-face {
	font-family: "Minako-Regular";
	src: url("../fonts/Minako-Regular.woff2") format("woff2"), url("../fonts/Minako-Regular.woff") format("woff");
	font-weight: 400;
	font-style:normal;
	font-display:swap;
}

body {
	font-family: "Minako-Light-Regular";
	font-size: 25px;
	text-align: center;
	font-weight: 400;
}


h1> a {
	font-size: 70px;
	color: rgb(158, 23, 118);
	font-size: 65px;
	font-family:"Minako-Regular", serif;
}

h2 {
	font-size: 65px;
	color: rgb(173, 61, 207);
	text-transform: uppercase;
	font-family:"Minako-Regular", serif;

}

.text {
	color: lightcoral;
	font-style: oblique;
	text-decoration: overline;
	
}
